@import '@/assets/scss/variables.scss';

body {
  font-family: $font-main;
  font-size: $font-size;
  background-color: $mid-gray;
  color: $font-white;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  color: $font-black;
}


