@import url('https://db.onlinewebfonts.com/c/d8c243c0372d796c35aac398a8e882a1?family=Cupra+Light');
@import url('https://db.onlinewebfonts.com/c/1a998736e1a95af302b555d9cf0f552b?family=Cupra');
@import url('https://db.onlinewebfonts.com/c/e9e850d1cfe6db7928bd79b15859f350?family=Cupra+Book');

// Colors
$light-gray: #F4F4F3;
$mid-gray: #F5F5F5;
$dark-gray: #75787B;
$light-beige: #DBD3CB;
$dark-beige: #D9CDBD;
$light-green: #006072;
$dark-green: #093E52;
$brown: #1B1B1B;
$black: #000000;
$white: #F8F8F8;
$font-white: #FFFFFF;
$font-black: #242221;
$button-black: #190F14;
$button-gray: #494949;


// Fonts
$font-main: 'Cupra', sans-serif;
$font-light: 'Cupra Light', sans-serif;
$font-mid: 'Cupra Book', sans-serif;
$font-size: 16px;